
RewriteEngine on
RewriteCond %{HTTP_HOST} ^availabilitylist\.martinsfarmstand\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.availabilitylist\.martinsfarmstand\.com$
RewriteRule ^/?$ "http\:\/\/martinsfarmstand\.com\/availability\-list\.html" [R=301,L]

